{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    {% block content %}
        <h1>Articles</h1>
        <h2>Welcome to articles page</h2>
        <table>
            {% for article in articles %}
                <tr>
                    <td><h3>{{ article.title }}</h3></td>
                    <td><h4>{{ article.textarea }}</h4></td>

                </tr>
            {% endfor %}
        </table>
    {% endblock %}
{% endblock %}

{% block javascripts %}
{% endblock %}